.getInvolved {
    border-radius:1rem;

    @include offsetShadow(1px, 0px, 1px, 0px);
  .getInvolvedGridContainer {
    display: grid;

    grid-template-areas:
". . one one one . ."
 ". . two two two . ."
 ". . three three three . ."
 ". four four . five five ."
 ". . six six six . .";
    grid-template-columns: [col-1] 0.5fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7] 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;

    @media screen and (max-width: $break-point) {
      grid-template-areas:
". . one one one . ."
 ". . two two two . ."
 ". . three three three . ."
 ". four four . five five ."
 ". . six six six . .";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 0fr;
    }
  }
}

.one {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius:1rem;
  font-size: 1.2rem;
  text-align:center;
  padding:2rem 1rem;
  grid-area: one;
}
.two {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius:1rem;

  font-size: 1.2rem;
  text-align:center;
padding:2rem 1rem;
  grid-area: two;
}
.three {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius:1rem;

  font-size: 1.2rem;
  text-align:center;
  padding:2rem 1rem;
  grid-area: three;
}
.four {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius:1rem;

  font-size: 1.2rem;
  text-align:center;
padding:2rem 1rem;
  grid-area: four;
}
.five {

  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius:1rem;

  font-size: 1.2rem;
  text-align:center;
  padding:2rem 1rem;
  grid-area: five;
}
.six {
    grid-area: six;
   font-size: 2rem;
   text-align:center;
   padding:3rem 0rem;
}
