@mixin box-shadow($level: 1) {
  @if $level == 1 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  } @else if $level == 2 {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
  } @else if $level == 3 {
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
  } @else if $level == 4 {
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.16);
  } @else if $level == 5 {
    box-shadow: 0 15px 18px rgba(0, 0, 0, 0.16);
  } @else if $level == 6 {
    box-shadow: 0 18px 21px rgba(0, 0, 0, 0.16);
  }
}

@mixin rounded-corner($arc) {
  border-radius : $arc;
}

@mixin offsetShadow($xval, $yval, $blur, $spread) {
  box-shadow : $xval $yval $blur $spread hsla(0, 0%, 0%, 0.2);
}
@mixin offsetShadow($xval, $yval, $blur, $spread) {
  box-shadow : $xval $yval $blur $spread hsla(0, 0%, 0%, 0.2);
}

@mixin insetShadow($xval, $yval, $blur, $spread) {
  box-shadow : inset $xval $yval $blur $spread hsla(0, 0%, 0%, 0.08);
}

@mixin transform($transforms) {
  transform : $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
  @include transform(scale($scale));
}
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
@mixin translateX ($x) {
  @include transform(translateX($x));
}
@mixin translateY ($y) {
  @include transform(translateY($y));
}
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
