// Fonts
$body-Font: #333;

// $base:
$font-Headline:'Nunito', sans-serif;
$font-Body:'Roboto', sans-serif;

//Logo Bright Colors
$logoBG: #01ff30;
$logoBR: #ff0172;

// Logo Dark Colors
$logoDG:#1daf39;
$logoDR: #a31153;

$break-point: 830px;

